<a href="https://colab.research.google.com/github/Pearlesce/CSC221_Ealde002/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read through Crash Ch. 3 and work through it as a Colab like we did in class. You will "hand in" a big Colab called Assignment4.ipynb that I can just run from your GitHub.

Try the examples as shown through in the text.

Try the Try It Yourself challenges.

Use your knowledge of list comprehension to solve the following problems:

Print the cubes of all of the integers that are a multiple of 7 between 60 and 85

Compute y = 7.4x + 51 for the set of values 40, 50, 120, -8, and 6.

In [1]:
#In-Text Examples
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [2]:
print(bicycles[0])

trek

In [3]:
print(bicycles[0].title())

Trek

In [4]:
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [5]:
print(bicycles[-1])

specialized

In [6]:
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

In [7]:
#Try It Yourself Exercises
names = ['Nic', 'Nys', 'Evie', 'Randa', 'Guinners', 'Murphy']
print(names[0])
print(names[1])
print(names[2])
print(names[3])
print(names[4])
print(names[5])

Nic
Nys
Evie
Randa
Guinners
Murphy

In [15]:
print(f"My partner is Australian. His name is",names[0])
print(f"My twin loves frogs. She's named", names[1])
print(f"This fancy lady hooked Nic and I up! Introducing", names[2])
print(f"Time for my older sister! Her name is", names[3])
print(f"Time for the doggos! The oldest one is named after beer, but I call him", names[4])
print(f"The last doggo no one wanted at first. He grew on everyone eventually. Here's", names[5])

My partner is Australian. His name is Nic
My twin loves frogs. She's named Nys
This fancy lady hooked Nic and I up! Introducing Evie
Time for my older sister! Her name is Randa
Time for the doggos! The oldest one is named after beer, but I call him Guinners
The last doggo no one wanted at first. He grew on everyone eventually. Here's Murphy

In [16]:
cars = ['Ford Focus', 'Chevy Impala','Scion TC', 'Subaru Forester', 'Tesla']
print(f"The first car I ever drove was a", cars[0])
print(f"My favorite car growing up, which I finally got in 2020, was a", cars[2])
print(f"After that, my mom owned a", cars[1])
print(f"The next car I want to own is an early model", cars[-1])
print(f"My mom's newest vehicle is", cars[-2])

The first car I ever drove was a Ford Focus
My favorite car growing up, which I finally got in 2020, was a Scion TC
After that, my mom owned a Chevy Impala
The next car I want to own is an early model Tesla
My mom's newest vehicle is Subaru Forester

In [ ]:
#More In-Text Examples

In [17]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [18]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

In [19]:
motorcycles.append('ducati')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'ducati']

In [20]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [24]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [26]:
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles[0]
print(motorcycles)

['yamaha', 'suzuki']

In [27]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [28]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}.")

The last motorcycle I owned was a Suzuki.

In [29]:
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

The first motorcycle I owned was a Honda.

In [31]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [32]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [46]:
#Try It Yourself Exercises
guest_list1 = ['Alan Rickman', 'Robbie Coltrane', 'Helen McCrory', 'Leslie Phillips']
print(f"Mr. {guest_list1[0]}, you're cordially invited to my Dinner Party!")
print(f"Mr. {guest_list1[1]}, you're cordially invited to my Dinner Party!")
print(f"Mrs. {guest_list1[2]}, you're cordially invited to my Dinner Party!")
print(f"Mr. {guest_list1[3]}, you're cordially invited to my Dinner Party")

Mr. Alan Rickman, you're cordially invited to my Dinner Party!
Mr. Robbie Coltrane, you're cordially invited to my Dinner Party!
Mrs. Helen McCrory, you're cordially invited to my Dinner Party!
Mr. Leslie Phillips, you're cordially invited to my Dinner Party

In [48]:
guest_list2 = guest_list1
no_show = guest_list1.pop()
print(f"Unfortunately, Mr. {no_show} can't make it, tonight")
guest_list2.append('Robert Knox')
print(f"Mr. {guest_list2[0]}, you're cordially invited to my Revival Dinner Party!")
print(f"Mr. {guest_list2[1]}, you're cordially invited to my Revival Dinner Party!")
print(f"Mrs. {guest_list2[2]}, you're cordially invited to my Revival Dinner Party!")
print(f"Mr. {guest_list2[3]}, you're cordially invited to my Revival Dinner Party")

Unfortunately, Mr. Robert Knox can't make it, tonight
Mr. Alan Rickman, you're cordially invited to my Revival Dinner Party!
Mr. Robbie Coltrane, you're cordially invited to my Revival Dinner Party!
Mrs. Helen McCrory, you're cordially invited to my Revival Dinner Party!
Mr. Robert Knox, you're cordially invited to my Revival Dinner Party

In [49]:
print("We've found a bigger table!")
guest_list3 = guest_list2
guest_list3.insert(0, "Daniel Radcliff")
guest_list3.insert(2, "Tom Felton")
guest_list3.append("Ralph Fiennes")
print(f"Hello {guest_list3[0]}, you're cordially invited to my Revival Reunion Dinner party")
print(f"Hello {guest_list3[1]}, you're cordially invited to my Revival Reunion Dinner party")
print(f"Hello {guest_list3[2]}, you're cordially invited to my Revival Reunion Dinner party")
print(f"Hello {guest_list3[3]}, you're cordially invited to my Revival Reunion Dinner party")
print(f"Hello {guest_list3[4]}, you're cordially invited to my Revival Reunion Dinner party")
print(f"Hello {guest_list3[5]}, you're cordially invited to my Revival Reunion Dinner party")
print(f"Hello {guest_list3[6]}, you're cordially invited to my Revival Reunion Dinner party")

We've found a bigger table!
Hello Daniel Radcliff, you're cordially invited to my Revival Reunion Dinner party
Hello Alan Rickman, you're cordially invited to my Revival Reunion Dinner party
Hello Tom Felton, you're cordially invited to my Revival Reunion Dinner party
Hello Robbie Coltrane, you're cordially invited to my Revival Reunion Dinner party
Hello Helen McCrory, you're cordially invited to my Revival Reunion Dinner party
Hello Robert Knox, you're cordially invited to my Revival Reunion Dinner party
Hello Ralph Fiennes, you're cordially invited to my Revival Reunion Dinner party

In [50]:
guest_list4 = guest_list3
not_invited = guest_list4.pop()
print(f"I'm sorry, {not_invited}, but I'm unable to provide you with dinner.")
not_invited = guest_list4.pop()
print(f"I'm sorry, {not_invited}, but I'm unable to provide you with dinner.")
not_invited = guest_list4.pop()
print(f"I'm sorry, {not_invited}, but I'm unable to provide you with dinner.")
not_invited = guest_list4.pop(0)
print(f"I'm sorry, {not_invited}, but I'm unable to provide you with dinner.")
not_invited = guest_list4.pop(1)
print(f"I'm sorry, {not_invited}, but I'm unable to provide you with dinner.")
print(f"You're invited to the Revival Dinner Party, {guest_list4[0]}!")
print(f"You're invited to the Revival Dinner Party, {guest_list4[1]}!")
del guest_list4[0]
del guest_list4[0]
print(guest_list4)

I'm sorry, Ralph Fiennes, but I'm unable to provide you with dinner.
I'm sorry, Robert Knox, but I'm unable to provide you with dinner.
I'm sorry, Helen McCrory, but I'm unable to provide you with dinner.
I'm sorry, Daniel Radcliff, but I'm unable to provide you with dinner.
I'm sorry, Tom Felton, but I'm unable to provide you with dinner.
You're invited to the Revival Dinner Party, Alan Rickman!
You're invited to the Revival Dinner Party, Robbie Coltrane!
[]

In [ ]:
#More In-Text Examples

In [51]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [52]:
cars.sort(reverse = True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [53]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list: ")
print(cars)
print("\nHere is the sorted list: ")
print(sorted(cars))
print("\nHere is the original list again: ")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [54]:
cars.reverse()
print(cars)

['subaru', 'toyota', 'audi', 'bmw']

In [55]:
len(cars)

4

In [56]:
#Try It Yourself Exersices
want_to_visit = ['london', 'dublin', 'sydney', 'paris', 'wellington']
print(want_to_visit)
print(sorted(want_to_visit))
print(want_to_visit)
print(sorted(want_to_visit, reverse = True))
print(want_to_visit)
want_to_visit.reverse()
print(want_to_visit)
want_to_visit.reverse()
print(want_to_visit)
want_to_visit.sort()
print(want_to_visit)
want_to_visit.sort(reverse = True)
print(want_to_visit)

['london', 'dublin', 'sydney', 'paris', 'wellington']
['dublin', 'london', 'paris', 'sydney', 'wellington']
['london', 'dublin', 'sydney', 'paris', 'wellington']
['wellington', 'sydney', 'paris', 'london', 'dublin']
['london', 'dublin', 'sydney', 'paris', 'wellington']
['wellington', 'paris', 'sydney', 'dublin', 'london']
['london', 'dublin', 'sydney', 'paris', 'wellington']
['dublin', 'london', 'paris', 'sydney', 'wellington']
['wellington', 'sydney', 'paris', 'london', 'dublin']

In [59]:
guest_list1 = ['Alan Rickman', 'Robbie Coltrane', 'Helen McCrory', 'Leslie Phillips']
len(guest_list1)

4

In [60]:
every_function = ['mountains', 'rivers', 'countries', 'cities', 'languages']
print(every_function)
print(every_function[2])
print(every_function[1].title())
every_function.append('religions')
print(every_function)
every_function.insert(0, 'ages')
print(every_function)
del every_function[0]
print(every_function)
every_function.pop()
print(every_function)
every_function.remove('languages')
print(every_function)
print(sorted(every_function))
every_function.sort(reverse = True)
print(every_function)
len(every_function)

['mountains', 'rivers', 'countries', 'cities', 'languages']
countries
Rivers
['mountains', 'rivers', 'countries', 'cities', 'languages', 'religions']
['ages', 'mountains', 'rivers', 'countries', 'cities', 'languages', 'religions']
['mountains', 'rivers', 'countries', 'cities', 'languages', 'religions']
['mountains', 'rivers', 'countries', 'cities', 'languages']
['mountains', 'rivers', 'countries', 'cities']
['cities', 'countries', 'mountains', 'rivers']
['rivers', 'mountains', 'countries', 'cities']

4

In [61]:
#Making an index error for Try It Yourself
print(every_function)
print(every_function[4])

['rivers', 'mountains', 'countries', 'cities']

IndexError: ignored

In [85]:
#Print the cubes of all of the integers that are a multiple of 7 between 60 and 85
r1 = list(range(60, 85))
print(r1)
r2 = r1
print(r2)
r2 [0:3] = []
print(r2)
r3 = list(range(63, 85, 7))
print(r3)
cubes = [x ** 3 for x in r3]
print(cubes)

[60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84]
[60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84]
[63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84]
[63, 70, 77, 84]
[250047, 343000, 456533, 592704]

In [90]:
#Compute y = 7.4x + 51 for the set of values 40, 50, 120, -8, and 6
compute = {40, 50, 120, -8, 6}
print(compute)
answers = set()
for x in compute:
  y = (7.4 * x) + 51
  answers.add(y)
print(answers)

{50, 6, 40, -8, 120}
{421.0, 939.0, -8.200000000000003, 347.0, 95.4}